

body {

    font-family: 'Roboto', sans-serif;
    font-style: 400;
    list-style-type: none;
    margin: 0;
    
}

.header
{
    border-bottom: 1px solid #ECECEC;; 
}
.header-flax
{
    /*background: darkblue;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
}
ul{ list-style-type: none;}
.contaner
  { margin-left: auto;
    margin-right: auto;
    width: 1170px;
    /*background-color: brown;*/}
.logo {
    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;
    display: flex;   
    list-style-type: none;
    color: #070707;
    font-family: Raleway;
}

.item1:not(:last-child) {
    margin-right: 50px;
  }
.logo1
{
    align-items:baseline;
    display: flex;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    text-decoration: none;
    list-style-type: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #2196F3;
}


.adress
{
    padding: 0;
    display: flex;
    margin: 0;
    }

.tit
{padding-top: 50px;}
.con1
 {padding-top: 94px;}

.logo-st
{
    padding: 0;
    margin: 0;
    margin-right: 93px;
    color: #070707;
}

.logo-b
{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #050505;
}


.adres {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #757575;
}

.logo-b:hover,
.adres:hover
{
    color: #2196F3;
}


.menu
{
    text-align: center;
    display: block;
    letter-spacing: 0.06em;
    padding-bottom: 200px;
    padding-top: 200px;

}
.menu1
{  
    margin: 0;
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
          
    width: 696px;
    height: 120px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;

}
 
.zakazat
{
    
    padding: 10px 32px 10px 32px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #000000;
       
}

.section1
{
    text-transform: uppercase;
    margin: 0;
    padding: 0px;    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: #212121;

}
.section1-second
{
    padding: 0px;
    margin-top: 10px; 
    margin-bottom: 0;
    margin-right: 30px; 
    margin-left: 0;
    width: 270px;
    height: 75px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
}

.list-item {
    margin-right: 0;
} 
.title
{
    margin: 0;
    /*margin-bottom: 50px;*/
    text-align: center;
    display: block;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #212121;
}
.chem{
    padding-top: 94px;
    padding-bottom: 94px;
}
.team{
   
    margin-bottom: 0px;
    margin-left: 38%;
    margin-right: 38%;
    text-align: center;
    display: inline-block;
      
}
.team1{
    padding-top: 94px;
    display: inline-block; 
    display: block;
    /*background-color: blueviolet;*/
    
    /*text-align: center;
    width: 1600px;
    display: inline-block; 
    background-color: blueviolet;*/
    
}
.signature
{
    /*margin-bottom: 94px;*/
    padding: 0;
    margin-bottom: 0;
    margin-top: 50px;
    text-align: center;
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #212121;
}
 .signature1
{
    margin-bottom: 30px;
    font-weight: 400;
    color: #757575;
}
.item:not(:last-child) {
    margin-right: 30px;
  }

.sig
{
    margin-left: 0;
    margin-bottom: 94px;}
.sigfoto
{
    margin-top: 30px;
    margin-bottom: 10px;
}

.footer
{  
    padding: 0;
    margin: 0;
   /* background: darkmagenta;*/
    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #FFFFFF;  
    background: #a39a9a;
   }

.foter-contact
{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
 }
 .footerlof
  {
      padding-top: 60px;
      padding-bottom: 60px;
    /*background: chartreuse;*/}
 /*.footerlofo
 {
    margin-left: 0;
    margin-bottom: 20px;
 }*/
 .footera1:not(:last-child) 
 {
     padding-bottom: 8px;
    padding-left: 0;
    margin: 0;
}

/*page2*/
.page:not(:last-child) 
{margin-right: 8px;}
.page1{
    
    
    padding: 6px 22px 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    background-color: coral;
    color: #212121;

}

.signature-page1-sec{

    /*margin-bottom: 50px;*/
    /*margin-top: 0;*/
    margin: 0;
    /*padding-right: 23px;
    padding-bottom: 19px;
    padding-left: 23px;*/
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: #757575;
    }
.por11
{justify-content:center;}

.portfol
{   padding-top: 94px;
    padding-bottom: 94px;
}
.porfimg
{   padding-top: 20px;
    padding-bottom: 19px;
    padding-right: 23px;
    padding-left: 23px;
    /*margin-bottom: 30px;*/}

.por1
{ 
    display: flex;
    margin: 0;
    
}
.item2
{
    margin: 0%;
    margin-right: 30px;
}
 
.border
    {
        border: 1px solid #EEEEEE;
        margin-bottom: 30px;
}

.signature-page1
{
    padding: 0;
    padding-top: 50px;
    /*background: chartreuse;*/
    display: flex; 
    flex-wrap: wrap;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}
.signaturep2
{
    margin: 0;
    padding-bottom: 4px;
    /*padding-bottom: 19px;
    padding-top: 4px;
    padding-right: 23px;
    padding-left: 23px;*/
}